
<h2 class="associated-article-header">Associated Article</h2>
<a href="/article/{{canonicalName}}" class="associated-article">
    <span class="title">
        {{titles[0][title]}}
        <span class="description">{{description}}</span>
    </span>
    <span class="image">
        <picture>
            <source srcset="/images/intro-images/{{canonicalName}}.webp" type="image/webp">
            <img src="/images/intro-images/{{canonicalName}}.png" alt="{{titles[0].title}}" />
        </picture>
    </span>
</a>