<!-- Custom "first post" file for highlighted files at the top of the site. -->
<div class="featured-post">
    {{content}}
    <aside id="sidebar">
        <div id="carbonadcontainer">
            <h3 id="ad-header">
                Sponsor
            </h3>
            {{advert}}
        </div>
    </aside>
</div>
<style combined>
.featured-post {
    float: left;
    display: grid;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .featured-post {
        grid-template-columns: calc(100% - 330px - 2rem) 330px;
        border-bottom: 1px solid #232833;
    }
}
</style>