# prod or dev
environment=dev

# mongodb authentication
mongooseUri=MONGODB_URI

# email and password for email server
contactEmail=SMTP_EMAIL
contactPassword=SMTP_PASSWORD
# host name for email server (domain just NAME.com)
contactHost=SMTP_HOST

# root URL
rootUrl=https://fjolt.com

# session secret
sessionSecret=SESSION_SECRET_STRING

# website name
websiteName=Fjolt
websiteDescription="Regular Articles on CSS, Javascript, Web Design and Web Development."

# locations of your certificates for the websocket server. Examples shown below should you use Lets Encrypt.
keyLocation=/usr/local/psa/var/modules/letsencrypt/etc/live/example.com/privkey.pem
certLocation=/usr/local/psa/var/modules/letsencrypt/etc/live/example.com/cert.pem
caLocation=/usr/local/psa/var/modules/letsencrypt/etc/live/example.com/chain.pem