<template>
    <div class="double-posts" a-if>
        <Component name="singlePost" times="2">
    </div>
</template>
<style combined>
.double-posts .intro-image {
    display: none;
}
.double-posts .archive-article {
    width: 100%;
    float: left;
    margin: 0 0 2rem 0;
    border-bottom: 1px solid #232833;
}
.double-posts .archive-article-icon, [data-state="search"] .archive-article-icon {
    display: none;
}
.double-posts {
    border-bottom: none;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .double-posts .archive-article:first-of-type {
        min-width: calc(50% - 2rem);
        margin: 0 2rem 0 0;
        width: calc(50% - 2rem);
    }
    .double-posts > .archive-article {
        border-bottom: none;
        margin: 0;
    }
    .double-posts {
        display: flex;
        border-bottom: 2px solid #2a303c;
    }
}
    </style>