<template>
    <data table="quiz" items-with-parents="canonicalName" filter-on="associatedCanonical"> 
        <div class="quiz">
            <a href="/quiz/{{canonicalName}}">
                <span class="progress"><span class="progress-percentage"></span></span>
                <span class="medal">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="28" height="44" viewBox="0 0 117 179"><circle class="cls-1" cx="58.5" cy="121.5" r="57.5"></circle><path class="cls-2" d="M19-3.343L37,88.671S80.754,89.814,82,90,98-3,98-3"></path></svg>
                    <span class="medal-outcome"></span>
                </span>
                <span class="percentage"><span class="number">?</span><span class="slash">/</span><span class="out-of">{{questions.length}}</span></span>
                <span class="text">Quiz</span>
            </a>
        </div>
    </data>
</template>
<style combined>
.quiz {
    border: none;
    min-width: 175px;
}
.quiz a {
    padding: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    font-size: 1.25rem;
    color: white;
    background: #242c3a;
    padding: 1.5rem 1rem 1rem 1rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}
.quiz .progress {
    width: 100%;
    background: #151b24;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
}
.quiz .progress-percentage {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1rem;
    background-image: linear-gradient(45deg, #09ce90, #97da15);
    height: 100%;
}
.quiz .medal svg {
    display: none !important;
    width: 12px;
    position: absolute;
    bottom: 5px;
    right: 0.75rem;
}
.quiz .medal .medal-outcome {
    position: absolute;
    top: 1.5rem;
    font-size: 1.5rem;
    right: calc(1rem + 1px);
}
.quiz .percentage {
    font-size: 0.825rem;
    display: flex;
    gap: 3px;
    margin: 0 0 0.25rem 0;
    font-weight: 600;
}
@media screen and (min-width: 1000px) {
    .quiz a {
        margin: 0;
        width: calc(100% - 1rem);
        margin-left: 1rem !important;
        border-radius: 0;
        background: transparent;
    }
}
</style>