<data-item>
    <article class="archive-article" data-url="{{qualifiedUrl}}">
        <div class="archive-article-icon">
            {{icon}}
        </div>
        <div class="archive-article-title">
            <h2><a href="{{qualifiedUrl}}">{{titles[0].title}}</a></h2>
            <div class="archive-article-category">
                <a class="category promoted" style="color: {{associatedWith.category.color[0]}};" href="/category/{{associatedWith.category.title}}">{{associatedWith.category.displayTitle}}</a>
            </div>
            <div class="archive-article-description">
                <a href="{{qualifiedUrl}}">{{description}}</a>
            </div>
        </div>    
    </article>
</data-item>