<!-- For three posts beside each other -->
<template>
    <div class="triple-posts" if>
        {{component-singlePostWithIcon*3}}
    </div>
</template>
<style combined>
.triple-posts .category:hover {
    color: #5b5656;
    transform: scale(1.03);
}
.triple-posts .archive-article-category {
    position: relative;
    float: left;
    top: 0;
    width: 100%;
}
.triple-posts .archive-article-category a {
    text-decoration: none;
    font-size: 1.125rem;
    display: block;
    transition: all 0.1s ease-out;
    border-bottom: 1px solid;
    margin: 1rem 0;
    font-weight: 600;
    float: left;
}

.triple-posts .archive-article-title {
    margin-top: 0.5rem;
    float: left;
    width: 100%;
}
.triple-posts {
    padding: 0 0 2rem 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.triple-posts .intro-image {
    display: none;
    position: relative;
    z-index: 1;
    min-height: 260px;
    background: #151b24;
    border-radius: 14px;
}

.triple-posts .archive-article {
    width: 100%;
    margin: 1rem 0 2rem 0;
    padding: 0rem 0 2rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #232833;
    max-width: 100%;
    float: left;
}

.triple-posts .archive-article:nth-of-type(3) {
    margin: 0;
}

.triple-posts .category .color {
    display: none;
}


.triple-posts h3 {
    margin: 0 0 1rem 2rem;
}

@media screen and (min-width: 1000px) {
    .triple-posts .archive-article {
        max-width: calc(33.3% - 1rem);
        border-bottom: none;
        margin: 0 2rem 0 0;
        padding: 0;
    }
    .triple-posts {
        padding: 3rem 0 2rem 0;
        display: flex;
        border-bottom: 1px solid #232833;
    }
}
</style>