<div class="item">
    <a href="/article/{{canonicalName}}">
        <span class="icon">{{icon}}</span>
        <span class="title">{{title}}</span>
        <span class="text"><span class="info"></span><span class="inner-text">{{description}}</span></span>
        <span class="complete"></span>
    </a>
    {{component-quiz}}
</div>
<style combined>
.item > a {
    width: calc(100% - 0px);
    position: relative;
    margin: 0;
    line-height: 1rem;
    min-height: 40px;
    padding: 0.25em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #191e27;
}
.item:last-of-type a {
    border-bottom: none;
}

.inner-text {
    margin: 0 0 0 0.5rem;
}
.item {
    display: flex;
    flex-direction: column;
}
.item .icon {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 2rem;
    z-index: 9999;
    box-sizing: border-box;
    line-height: 100%;
    color: #fff;
    padding: 1.5rem 0;
    background: 0 0;
    width: 4.5rem;
    display: block;
    text-align: center;
}

.item span {display: flex;align-items: center;}
.item .title {
    position: relative;
    left: 5rem;
    width: calc(100% - 5rem);
    padding: 0rem 0 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    color: white;
    float: left;
}
.item > a .text {
    position: relative;
    width: calc(100% - 5rem);
    left: 5rem;
    padding: 0 0 1.25rem 0;
    padding-bottom: 0;
    font-weight: 500;
    color: #d8dbea6b;
    margin: 0.25rem 0 0 0;
    float: left;
    line-height: 1.5rem;
    font-size: 1rem;
}
.complete {
    display: none;
    position: absolute;
    color: white;
    font-size: 1rem;
    line-height: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 0.75rem;
    right: 0.75rem;
    background: transparent;
    letter-spacing: 1px;
}
.item-complete.complete {
    display: block;
}
@media screen and (min-width: 1000px) {
    .item {
        flex-direction: row;
    }
}
</style>