<div class="fl">
    <div class="series-nav">
        <div class="header">
            <span class="title">{{title}}</span>
            <span class="go-back"><a href="/series/{{canonicalName}}">Back to Index</a></span>
        </div>
        <div class="nav-item ellipsis-container">
            <span class="prev-items ellipsis"></span>
        </div>
        {{seriesItems+}}
        <div class="nav-item ellipsis-container">
            <span class="next-items ellipsis"></span>
        </div>
    </div>
</div>
<style combined>
.series-nav {
    padding: 2rem 0;
    float: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: space-between;
    border-top: none;
    background: #191f2b;
    min-width: 350px;
    border-radius: 12px;
    border: none;
    margin: 2rem 0 3rem 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
    background: transparent;
    width: 100%;
    border: 1px solid #232a38;
}
.series-item .series-nav {
    display: flex;
}
.series-nav .header {
    padding: 1rem 1.25rem;
    display: flex;
    border-bottom: 1px solid #191f2b;
    justify-content: space-between;
}

.series-nav .header .title {
    font-weight: 600;
}

.series-nav .ellipsis-container {
    display: flex;
    border-bottom: 1px solid #232a38;
}
.series-nav .ellipsis-container:last-child {
    border-bottom: none;
}
.series-nav .ellipsis, .series-nav .ellipsis {
    text-align: center;
    padding: 0.75rem 0;
    opacity: 0.8;
    display: flex;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    min-height: auto !important;
    height: 20px;
    line-height: 1rem;
}

.series-nav .ellipsis:hover {
    background: rgb(33 41 56 / 14%);
}

.series-nav .ellipsis:before {
    margin: 0px auto;
}

.series-nav .nav-item .icon {
    padding: 0 0.5rem 0 0;
    left: 1.25rem;
    width: 1.25rem;
    display: block;
}
.series-nav .text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    left: 3.5rem;
}

#content-text .series-nav .nav-item a, .series-nav .nav-item a {
    text-align: left;
    float: left;
    width: 100%;
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #232a38;
}
.series-nav .nav-item.this a {
    background: #212732;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 2px 10px rgb(0 0 0 / 10%), 0 1px 0 0 #2d3646;
    opacity: .9;
    z-index: 9999;
    position: relative;
}
.nav-item.this a:hover {
    background: #1d2430;
}
.nav-item {
    display: none;
}
.nav-item.visible {
    display: block;
}

@media screen and (min-width: 1000px) {
    .series-nav {
        width: 330px;
    }
    .series-nav .title {
        white-space: nowrap;
        overflow: hidden;
        max-width: 250px;
        width: 250px;
        text-overflow: ellipsis;
    }
}
</style>