{{header}}
{{banner}}
<section id="container">
    <article id="content">
        <div class="go-home"><a href="/">🧑‍💻 Go back to the homepage</a></div>
        {{series}}
        <div id="header-container">
            {{category}}
            <h1 headline>{{titles[0][title]}}</h1>
        </div>
        <div id="content-text">
            <div id="carbonadcontainer">
                <h2 id="ad-header">
                    Sponsor
                </h2>
                <script defer type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CESI5KJN&placement=fjoltcom" id="_carbonads_js"></script>
            </div>
            {{content}}                
            <div id="inline-quiz">
                {{quiz}}
            </div>
            <div class="sponsor-us bottom"><a target="_blank" rel="noreferrer" href="https://www.patreon.com/smpnjn?fan_landing=true">🙇‍♂️ If you like this, consider supporting me on Patreon</a></div>
            <div class="time-date" dateModified>Last Updated {{date}}</div>
            {{series}}
        </div>
        {{author}}
        <div id="see-more">
            <h2>More from {{category}}</h2>
            <ul>
                {{more}}
            </ul>
        </div>
    </article>
</section>
<style combined>
#see-more .category {
    margin: 0 0 0 1rem;
}
body.series-item #content, body.nav-enabled #content {
    padding-left: 0;
    display: block;
    box-sizing: border-box;
    position: relative;
}
#content-text h2:not(#carbonadcontainer h2) {
    font-weight: 800;
    line-height: 3rem;
    font-size: 1.75rem;
    letter-spacing: 0.25px;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    color: #74fa5f;
}
#content {
    box-sizing: border-box;
    width: 100%;
}
#container {
    grid-template-columns: 100%;
    padding: 0;
    width: 100%;
}
#content-text {
    float: left;
    width: 100%;
    margin-top: 0rem;
    padding: 0;
    max-width: 1300px;
    box-sizing: border-box;
}
#content > h1 {
    display: none;
}
.navigation-item a, .inline-quiz-link a {
    line-height: 1.5rem;
    width: calc(100% + 1rem);
    padding: 0.5rem;
    border-bottom: 1px solid #191f2b;
    display: block;
    box-sizing: border-box;
    font-size: 0.875rem;
    color: rgba(255,255,255,0.5);
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#secondary-navigation {
    margin-bottom: 2rem;
    padding: 0 1rem 0rem 0;
    overflow: scroll;
    margin: 0;
    max-height: calc(100vh - 13rem);
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    position: absolute;
    width: 13rem;
    background: transparent;
    border: 1px solid #232a38;
    display: none;
    margin: 0 0rem;
    left: 0;
    border-radius: 13px;
}
#secondary-navigation h2 {
    color: white;
    margin: 0.5rem 0 0rem 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
}
.navigation-item.current a {
    color: white;
}
.navigation-item.current a:before {
    color: white;
    position: relative; 
    top: 3px;
    margin: 0 0.5rem 0 0;
}
.navigation-item:last-of-type a {
    margin-bottom: 1rem;
}
.navigation-item a:hover {
    color: white;
}
#carbonadcontainer h2 {
    font-size: 1rem;
}
#article-progress {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 100%;
    border-radius: 0;
    height: 4px;
    left: 0;
}
#article-progress.complete:after {
    padding-top: 0;
}
#article-progress > div {
    width: 23px;
    height: 12px;
    background: linear-gradient(-45deg, #3643ff, #0011ff);
    position: absolute;
    top: 0px;
    left: -2px;
    transition: all 0.1s ease-out;
    border-radius: 0;
}

.go-back {
    display: none;
}
.go-back a {
    color: white;
    background: #151b24;
    text-decoration: none;
    border-radius: 7px;
    padding: 0.5rem 0.5rem;
    position: relative;
    right: -0.75rem;
    font-size: 0.875rem;
}
.go-home a, .sponsor-us a {
    color: white;
    float: left;
    display: block;
    text-decoration: none;
    border-bottom: 1px dotted #ffffff2e;
    padding: 0.25rem 0;
    font-weight: 600;
    margin: 0 0 2rem 0;
    letter-spacing: 0.25px;
}
.go-home + .fl {
    display: none;
}
.sponsor-us {
    float: left;
}
.sponsor-us.bottom {
    float: left;
    width: 100%;
}
#see-more {
    float: left;
    width: 100%;
    margin: 0;
    padding: 2rem 0 2rem 0;
}
#see-more ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}

#see-more h2 {
    display: flex;
    align-items: center;
}
.try iframe {
    background: #191f2b;
    border: none;
    overflow: hidden;
    border-radius: 14px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0 0 2rem 0;
    border: 1px solid #252a33;
    min-height: 700px;
}
.select-option select {
    margin-left: -1.75rem;
    background: #2a3240;
    border-radius: 0 6px 6px;
    padding-left: 2rem;
    text-transform: initial;
    border: 1px solid #2b3240;
}
.select-option p {
    position: relative;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    margin: 0 1rem 0 0;
    line-height: 2.5rem;
    background: #191f2b!important;
    min-width: 160px;
    padding: 0 0 0 0.75rem;
}
#content-text .select-option .unit {
    width: auto;
    border: none !important;
    background: transparent !important;
}
.select-option {
    padding: 0.5rem 0;
    float: left;
    width: 100%;
    display: flex;
    margin: 1rem 0 2em 0;
    align-items: center;
}
.select-option select:focus {
    outline: none;
}
.struct {
    padding: 2rem;
    border: 1px solid #242c3d;
    background: transparent;
    padding: 2rem;
    box-sizing: border-box;
    overflow: auto;
    line-height: 1.5rem;
    border-radius: 14px;
}
.go-back:hover {
    color: rgba(255,255,255,0.5);
}
.html-css-pair pre:last-of-type code:before {
    border-radius: 0 0 12px 0;
}
.html-css-pair pre:first-of-type code:before {
    border-radius: 0 0 0 12px;
}
.html-css-pair pre {
    flex-grow: 1;
    max-width: 50%;
    margin-bottom: 0;
}
.html-css-pair pre:first-of-type code {
    border-radius: 14px 0 0 14px;
}
.html-css-pair pre:last-of-type code {
    border-radius: 0 14px 14px 0;
}
.html-css-pair pre:last-of-type { 
    border-right: none; 
}
.html-css-pair code {
    border: none;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    border-right: 1px solid #ffffff17;
}
.html-css-pair pre:last-of-type code { 
    border-right: none; 
}
.html-css-pair {
    display: flex;
    overflow: hidden;
    padding-bottom: 2rem;
    width: calc(100% - 0rem);
    overflow: visible;
    border-radius: 10px;
    border-radius: 8px;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    .try iframe {
        min-height: 400px;
    }
    .sponsor-us {
        float: right;
    }
    #content #secondary-navigation, .go-back, #article-progress {
        display: block;
    }
    body.series-item #content, body.nav-enabled #content {
        padding-left: 16rem;
    }
    .sponsor-us a {
        margin: 0;
    }
    .go-home + .fl {
        display: block;
    }
}
</style>
<script defer type="text/javascript">
    if(document.querySelector('.try') !== null) {
    document.querySelectorAll('.try').forEach(function(item) {
        let title = document.createElement('div');
        title.innerHTML = '<h3>Try it out!</h3>';
        title.classList.add('try-it-out-title');
        item.prepend(title);
        let code = item.querySelector('pre');
        code.setAttribute('contenteditable', true);
        let newEl = document.createElement('iframe');
        newEl.classList.add('try-iframe');
        item.appendChild(newEl);
        let retainedElements = document.createElement('div');
        retainedElements.id = 'retained-elements';
        retainedElements.innerHTML = '<div class="body-tag">Body</div>'
        item.querySelector('iframe').contentWindow.document.body.append(retainedElements);
        let allRetained = item.querySelector('iframe').contentWindow.document.getElementById('retained-elements');
        allRetained.append(code);
        let newExecutable = document.createElement('div');
        newExecutable.classList.add('executable');
        newExecutable.innerHTML = '<div id="console"><h3>Console Log <span id="clear">Clear</span></h3><div id="console-items"></div></div>';
        allRetained.append(newExecutable);
        let tryit = document.createElement('button');
        tryit.textContent = 'Execute';
        tryit.id = 'tryit';
        allRetained.append(tryit);
        let script = document.createElement('script');
        script.textContent = `
            console.log = function(message) {
                let newLog = document.createElement('div');
                newLog.classList.add('log-item');
                newLog.innerHTML = '<span class="time">' + new Date().getHours() + ':' + new Date().getMinutes() + ':' +  new Date().getSeconds() + '</span>: ' + message;
                document.getElementById('console-items').prepend(newLog);
            }
            let runEvents = () => {
                document.getElementById('tryit').addEventListener('click', function() {
                    document.body.childNodes.forEach(function(item) {
                        if(item.id !== 'retained-elements') {
                            item.remove();
                        }
                    });
                    let allCode = document.querySelector('pre').textContent;
                    try {
                        new Function("", allCode)();
                    } catch(e) {
                        console.log(e);
                    }
                });
                document.getElementById('clear').addEventListener('click', function() {
                    document.getElementById('console-items').innerHTML = '';
                });
                (function() { ${code.textContent} })();
            }
            runEvents();
        `;
        let style = document.createElement('link');
        style.href = '/code-editor.css'
        style.rel = 'stylesheet';
        allRetained.append(style);
        allRetained.append(script);
    });
}
let floatingNav = '<nav id="secondary-navigation">';
if(document.querySelectorAll('#content-text h2').length > 0) {
    document.querySelectorAll('#content-text h2:not(#carbonadcontainer h2)').forEach(function(item) {  
        let thisContent = item.textContent.toLowerCase().replace(/ /g, "-");
        floatingNav += `<div class="navigation-item"><a href="#${thisContent}">${item.textContent}</a></div>`;
        item.setAttribute('id', thisContent);
        item.innerHTML = `${item.textContent} <a class="header-navigation" href="#${thisContent}">#</a>`
    });
    floatingNav += '</nav>';
    if(document.getElementById('nav-init') !== null || document.body.classList.contains('series-item')) {
        let floatingNavContainer = document.createElement('div');
        document.body.classList.add('nav-enabled');
        floatingNavContainer.innerHTML = floatingNav;
        document.getElementById('content').prepend(floatingNavContainer.children[0]);
        if(document.getElementById('nav-init') !== null) {
            document.getElementById('nav-init').remove();
        }
    }
    if(document.getElementById('secondary-navigation') !== null) {
        document.getElementById('secondary-navigation').style.transform = `translateY(${window.scrollY}px)`
    }
}
</script>
{{footer}}