{{header}}
{{banner}}
<section id="container">
    <article id="content">
        <div class="go-home"><a href="/">🧑‍💻 Go back to the homepage</a></div>
        <div id="header-container">
            <h1 headline>Privacy Policy</h1>
        </div>
        <div id="content-text" class="fl">  
            <p><strong>If you have decided to, thank you for subscribing to our newsletter at Fjolt (“Company”, “we”, “us”, or “our”)</strong>. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at contact@fjolt.com. </p>
            <p>As we only need your email, we only store that information in our database. Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.   </p>
            
            <h2>Table of Contents</h2>  
            
            <ul>
                <li>1. WHAT INFORMATION DO WE COLLECT?</li>
                <li>2. HOW DO WE USE YOUR INFORMATION?</li>
                <li>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?   </li> 
                <li>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES? </li>
                <li>5. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?  </li>
                <li>6. HOW LONG DO WE KEEP YOUR INFORMATION?   </li>
                <li>7. HOW DO WE KEEP YOUR INFORMATION SAFE?   </li>
                <li>8. DO WE COLLECT INFORMATION FROM MINORS? </li> 
                <li>9. WHAT ARE YOUR PRIVACY RIGHTS?  </li>
                <li>10. DATA BREACH </li>
                <li>11. CONTROLS FOR DO-NOT-TRACK FEATURES </li>
                <li>12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS? </li>
                <li>13. DO WE MAKE UPDATES TO THIS POLICY?</li>
                <li>14. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</li>
            </ul>
            
            <h2>1. WHAT INFORMATION DO WE COLLECT?  </h2>
            <p>Personal information you disclose to us </p>
            <p>In Short: We collect personal information that you provide to us such as name, address, contact information, passwords and security data, and payment information.</p>
            <p>We collect personal information that you voluntarily provide to us when registering at the Services expressing an interest in obtaining information about us or our products and services, when participating in activities on the Services (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us.</p>
            <p>The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products and features you use. The personal information we collect can include the following:</p>
            <p>Publicly Available Personal Information. We collect first name, maiden name, last name, nickname, email addresses, and other similar data.</p>
            <p>Personal Information Provided by You. We collect app usage, and other similar data.</p>
            <p>Credentials. We collect passwords, password hints, and similar security information used for authentication and account access.   </p>
            <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.   </p>
            
            <h2>2. HOW DO WE USE YOUR INFORMATION? </h2> 
            <p>In Short:  We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.  </p>
            <p>We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below. </p>
            <p>We use the information we collect or receive: </p>
            <p>To facilitate account creation and logon process. If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.      </p>
            <p>To send you marketing and promotional communications. We and/or our third party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS" below).                  </p>
            <p>To protect our Services. We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention). </p>                   
            <p>To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.  </p>                       
            <p>To manage user accounts. We may use your information for the purposes of managing our account and keeping it in working order. </p>                                               
            <p>To deliver services to the user. We may use your information to provide you with the requested service. </p>                                                                                                                                 
            
            
            <h2>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?  </h2>
            <p>In Short:  We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>  
            
            <p>We may process or share data based on the following legal basis:</p>
            <p>Consent: We may process your data if you have given us specific consent to use your personal information in a specific purpose. </p>
            <p>Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests.</p> 
            <p>Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract. </p>
            <p>Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements). </p>
            <p>Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</p>
            <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>    
            <p>Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</p> 
            <p>Third-Party Advertisers. We may use third-party advertising companies to serve ads when you visit the Services. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</p>         
            <p>Other Users. When you share personal information (for example, by posting comments, contributions or other content to the Services) or otherwise interact with public areas of the Services, such personal information may be viewed by all users and may be publicly distributed outside the Services in perpetuity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Services, and view your profile.</p>      
            
            <h2>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>  
            <p>In Short:  We may use cookies and other tracking technologies to collect and store your information.</p>  
            <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>
            
            
            <h2>5. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES? </h2> 
            <p>In Short:  We are not responsible for the safety of any information that you share with third-party providers who advertise, but are not affiliated with, our websites.</p>   
            <p>The Services may contain advertisements from third parties that are not affiliated with us and which may link to other websites, online services or mobile applications. We cannot guarantee the safety and privacy of data you provide to any third parties. Any data collected by third parties is not covered by this privacy policy. We are not responsible for the content or privacy and security practices and policies of any third parties, including other websites, services or applications that may be linked to or from the Services . You should review the policies of such third parties and contact them directly to respond to your questions.</p>        
            
            <h2>6. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>  
            <p>In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law. </p>
            <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the period of time in which users have an account with us.</p>  
            <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>   
            
            
            <h2>7. HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
            <p>In Short:  We aim to protect your personal information through a system of organizational and technical security measures.</p>  
            <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the services within a secure environment. </p>
            
            
            <h2>8. DO WE COLLECT INFORMATION FROM MINORS? </h2> 
            <p>In Short:  We do not knowingly collect data from or market to children under 18 years of age.  </p>
            <p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at smpn.jn@gmail.com. </p>
            
            
            <h2>9. WHAT ARE YOUR PRIVACY RIGHTS?</h2>  
            <p>In Short:  In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time. </p>  
            <p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws.</p> 
            <p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</p>
            <p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</p> 
             
            <p>Account Information </p> 
            <p>If you would at any time like to review or change the information in your account or terminate your account, you can contact us at contact@fjolt.com</p> 
            <h2>10. DATA BREACH </h2> 
            <p>A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of personal information. You will be notified about data breaches if we believe you are likely to be at risk of serious harm. For example, a data breach may be likely to result in serious financial harm or harm to your mental or physical well-being. In the event that we become aware of a security breach which has resulted or may result in unauthorized access, use or disclosure of personal information we will promptly investigate the matter and notify the applicable Supervisory Authority not later than 72 hours after having become aware of it, unless the personal data breach is unlikely to result in a risk to the rights and freedoms of natural persons.</p>
            
            <h2>11. CONTROLS FOR DO-NOT-TRACK FEATURES </h2> 
            <p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy policy.</p>  
            
            <h2>12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS? </h2> 
            <p>In Short:  Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</p>  
            <p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p> 
            <p>If you are under 18 years of age, reside in California, and have a registered account with the Services, you have the right to request removal of unwanted data that you publicly post on the Services. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Services, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
            
            <h2>13. DO WE MAKE UPDATES TO THIS POLICY?</h2>  
            <p>In Short:  Yes, we will update this policy as necessary to stay compliant with relevant laws. </p> 
            <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.  </p>
            
            <h2>14. HOW CAN YOU CONTACT US ABOUT THIS POLICY? </h2> 	
            <p>If you have questions or comments about this policy, you may contact our Data Protection Officer by email at contact@fjolt.com</p>
            <div class="time-date" dateModified>Last Updated June 2021</div>
        </div>
    </article>
</section>
{{footer}}
