<url routes="[ '/' ]" />
<config>
    <title>Fjolt</title>
    <classes>home</classes>
</config>
<template>
    <div id="container">
        <section id="content">
            <h1 id="main-latest-posts">Latest Post</h1>
            <data table="article" limit="12" sort="-date">
                {{component-firstPost}}
                {{component-triplePost}}
                {{component-doublePost*4}}
            </data>
        </section>
        <div id="pagination"><a href="#" class="next-page">View More Articles</a></div>
    </div>
</template>
<style combined>
#main-latest-posts {
    display: block;
    font-weight: 800;
    float: left; 
    width: 100%;
}
@media screen and (min-width: 1000px) {
    #main-latest-posts {
        display: flex;
    }
    h1 .subscribe-button {
        display: inline;
        width: auto;
        margin: 0 0 0 1rem;
    }
}
</style>