<url routes="[ '/quiz/:quiz' ]" />
<config table="quiz" filter=":quiz" filter-on="canonicalName" limit="1">
    <description>{{description}}</description>
    <title>Fjolt - {{title}}</title>
    <classes>archive</classes>
</config>
<template>
    <div class="fl">
        <div id="associated-guide">
            <div id="associated-guide-holder">        
                <a href="{{article}}" class="associated-article"><span class="title">Back</span></a>   
                <a href="/quiz/{{canonicalName}}" class="associated-article">Restart</a> 
            </div>
        </div>
    </div>
    <div id="container" class="quiz" data-question="0">
        <div id="quiz">
            <data table="quiz" limit="1" filter=":quiz" filter-on="canonicalName">
                <div id="progress-bar-holder">
                    <div id="progress-bar">
                        <div id="progress-bar-percentage"></div>
                        <div id="question-number"><div id="current-number">0</div><div id="seperator">/</div><div id="total-number">{{questions.length}}</div></div>
                    </div>
                </div>
                <div class="fl" id="initial-page">
                    <div id="quiz-title"><h1>{{title}}</h1></div>
                    <div id="question-submit">
                        <button class="hover-button" data-filter-color="#027cfd61" id="submit-question"><span class="loading"><i class="lds-ring"><i></i><i></i><i></i><i></i></i></span></button>
                    </div>
                    <div id="associated-article">{{article}}</div>
                    <div id="normal-question-holder">
                    </div>
                </div>
                <div id="quiz-question-holder">
                    
                </div>
            </data>
        </div>
    </div>
</template>
<style combined>
    #container.quiz {
        grid-template-columns: 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
        float: left;
        overflow: visible;
    }

    #quiz-title {
        text-align: center;
    }
    #container.quiz.moved {
        top: -1.75rem;
        position: relative;
    }
    #progress-bar-holder {
        float: left;
        width: 100%;
        margin-bottom: 1rem;
        transition: left 0.4s ease-out, opacity 0.4s ease-out;
        position: relative;
        opacity: 1;
        left: 0;
        max-width: 100%;
    }
    #progress-bar {
        height: 22px;
        width: 500px;
        border-radius: 100px;
        margin: 0 auto 4rem auto;
        position: relative;
        background: #151b24;
        max-width: calc(100% - 6rem);
        }
    #progress-bar-percentage {
        position: absolute;
        background: linear-gradient(90deg, #00a1ff, #2cefff);
        min-width: 50px;
        transition: width 0.15s ease-out;
        height: calc(100% - 8px);
        max-width: calc(100% - 8px);
        width: 50px;
        top: 0;
        height: 100%;
        will-change: width;
        left: 0;
        border-radius: 100px;
    }
    #associated-article, #associated-guide {
        padding: 6.5rem 0 0 0;
        flex-direction: column;
        max-width: 1300px;
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }
    
    #associated-guide {
        max-width: 1300px;
        padding: 0;
        box-sizing: border-box;
        margin: 1rem auto 0rem auto;
        width: 100%;
    }
    
    .associated-article {
        border-radius: 12px;
        text-decoration: none;
        transition: all 0.1s ease-out;
        background: aliceblue;
        display: grid;
        grid-template-columns: 150px calc(100% - 150px);
        overflow: hidden;
        
    }
    #associated-guide .associated-article {
        color: rgba(255,255,255,0.5);
        grid-template-columns: 100%;
        width: auto;
        border-radius: 0;
        background: transparent;
        font-size: 1rem;
        float: right;
        height: calc(1rem - 4px);
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1rem 0;
        font-weight: 600;
    }
    #associated-guide .associated-article:last-of-type {
        border-right: 1px solid #232a38;
        margin: 0 1rem 0;
        padding-left: 0rem;
    }
    #associated-guide .associated-article:hover, .start-again:hover {
        color: white;
    }
    #associated-article .associated-article .title {
        padding: 0.75rem 1rem;
        font-size: 1.25rem;    
        font-weight: 600;
        color: black;
    }
    .associated-article .description {
        color: rgba(0,0,0,0.4);
        font-weight: 500;
        margin: 0.5rem 0;
        font-size: 1rem;
        line-height: 1.75rem;
        display: block;
    }
    .associated-article .image {
        grid-row: 1/2;
        overflow: hidden;
        background: rgba(0,0,0,0.1);
    }
    .associated-article img {
        height: 180px;
        width: auto;
        border-radius: 0;
        max-width: initial !important;
    }
    #associated-guide-holder {
        float: left;
        border: 1px solid #232a38;
        border-radius: 14px;
    }
    button:hover #submit-question-cover {
        top: 0;
    }
    #submit-question span, #submit-individual-question span {
        filter: drop-shadow(#027cfd61 0 10px 15px);
    }
    .quiz ~ #subscribe {
        display: none;
    }
    #question .question-options {
        margin: 2rem 0;
        float: left;
        width: calc(100% + 1.25rem);
        display: flex;
        flex-wrap: wrap;
    }
    #submit-question > span:before {
        margin: 0 0.5rem 0 0;
    }
    #question .question-title pre {
        margin-top: 4rem;
        margin-bottom: 0rem;
    }
    .question-title .code {
        float: left;
        width: 100%;
    }
    .question-title pre code {
        padding: 1rem 1.5rem;
        text-align: left;
    }

    .question-title pre code:before,
    .question-title pre code:after {
        display: none;
    }

    .question-title .code-options {
        background: #111319;
        z-index: -1;
        background: #11142e;
        border: none;
    }
    #question .question-title {
        line-height: 2.75rem;
        font-size: 1.75rem;
        text-align: center;
        font-weight: 600;
    }
    #question .option {
        width: 100%;
        transition: all 0.1s ease-out;
        display: block;
        box-sizing: border-box;
        color: white;
        font-size: 1.125rem;
        position: relative;
        cursor: pointer;
        margin: 0 1.25rem 1rem 0;
        border-radius: 14px;
        line-height: 1.75rem;
        background: #151b24;
        padding: 0.75rem 2.5rem 0.75rem 0.75rem;
        font-weight: 500;
    }
    #question .option:after {
        content: '';
        height: 21px;
        width: 21px;
        position: absolute;
        top: 1rem;
        box-sizing: border-box;
        border-radius: 100px;
        right: 12px;
        border: 1px solid #4e5064c7;
    }
    #question {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #question:not(.finished) .option:hover, #question .current {
        background: #004cff;
        transform: scale(1.05);
    }
    #question .current:after, #question:not(.finished) .option:hover:after, #question .option.this-was-it:after {
        font-size: 0.75rem;
        color: #ffffff;
        line-height: 0.825rem;
        text-align: center;
        padding: 3px;
        border: 1px solid white;
    }
    #next-question.complete-quiz {
        padding-top: 0.75rem;
    }
    #question.correct .current.option {
        background: #09ce90;
        border: 1px solid #09ce90;
        color: rgba(0,0,0,0.5);
    }
    #question.correct .current.option:after {
        color: white;
    }
    #question.false .current.option {
        border: 1px solid #fc973f;
        box-shadow: 0 0 0 1px #fc973f;
        animation: shakeWrong 0.5s 1 linear forwards;
        background: transparent;
    }
    #question .option.this-was-it {
        border: 1px solid #004cff;
        box-shadow: 0 0 0 1px #004cff;
        transform: scale(1.03);
    }
    #question .option.this-was-it:after {
        border: 1px solid #004cff;
        background: #004cff;
    }
    .confetti-item {
        background: red;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
    }
    #initial-page #progress-bar-percentage:after {
        content: '';
        background-image: linear-gradient(90deg, transparent, #ff700b);
        position: absolute;
        width: 68%;
        height: 100%;
        right: 0;
        top: 0;
        border-radius: 100px;
    }
    #initial-page #progress-bar-percentage:before {
        content: '';
        box-shadow: 15px 0 20px #ff2300, 9px 0 5px #ff5f1578;
        position: absolute;
        width: 19px;
        height: 100%;
        right: 0;
        top: 0;
        border-radius: 100px;
    }

    #question.finished .option {
        cursor: initial;
    }
    #alt #logo a {
        color: white;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    @keyframes shakeWrong {
        0% { transform: rotateZ(1deg) scale(1.05); }
        20% { transform: rotateZ(-1deg) scale(1.05); }
        40% { transform: rotateZ(1deg) scale(1.05); }
        60% { transform: rotateZ(-1deg) scale(1.05); }
        80% { transform: rotateZ(1deg) scale(1.05); }
        100% { transform: rotateZ(0deg) scale(1); }
    }
    #question.false .current.option:after {
        color: white;
        background: #fc973f;
        border: 1px solid #fc973f;
    }
    .moving #quiz-question-holder {
        animation: moveLeft 0.5s ease-out 1 forwards;
    }
    .move-bar #quiz-question-holder {
        top: -2rem;
        left: 0;
    }
    #associated-article:empty {
        border: none;
        margin: 0;
    }
    #progress-bar-percentage.quiz-reward {
        background-image: linear-gradient(45deg, #09ce90, #97da15);
    }
    #complete-quiz + #progress-bar-holder #progress-bar {
        height: 19px;
        left: 0;
        margin: 0px auto 1rem auto;
    }
    #complete-header {
        text-align: center;
    }
    #complete-quiz {
        width: 6rem;
        font-size: 3rem;
        padding-top: 0.85rem;
        margin: 0rem auto 2rem auto;
        background: #151b24;
        box-sizing: border-box;
        height: 6rem;
        border-radius: 100px;
        text-align: center;
    }
    #complete-quiz span {
        position: relative;
        z-index: 2;
    }
    @keyframes moveLeft {
        0% {
            left: 100%;
            width: 100%;
        }
        100% {
            left: 0;
            width: 100%;
        }
    }

    #associated-guide .start-again.associated-article {
        float: left;
        border-right: 2px solid #2b303870;
        flex-direction: row-reverse;
    }
    #initial-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #quiz-question-holder {
        position: absolute;
        top: calc(6.25rem + 1px);
        width: 100%;
        min-height: 200px;
        pointer-events: none;
    }
    #container.moving #initial-page {
        transition: left 0.4s ease-out, opacity 0.4s ease-out;
        left: -100%;
        opacity: 0;
    }
    #container.move-bar #quiz > #progress-bar-holder {
        left: -100%;
        opacity: 0;
    }

    #question-number {
        height: 100%;
        display: flex;
        gap: 3px;
        width: 100%;
        align-items: flex-end;
        padding-top: 3rem;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

    #quiz {
        grid-column: 1;
        margin: 7rem 0rem;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 2rem 0;
    }
    #question-submit button span, .quiz-button {
        font-size: 1.25rem;
        padding: 1rem 2rem;
    }
    #question-submit .loading {
        min-height: 1.5rem;
    }
    #question-submit button span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 600%;
        height: 200%;
        background: linear-gradient(90deg, #00a1ff, #af4ae6, #00a1ff, #2cefff);
        animation: colorCycle 8s infinite alternate;
        z-index: -2;
    }
    @keyframes colorCycle {
        0% {
            top: 0;
            left: 0;
            transform: scale(1);
        }
        50% {
            top: -50%;
            transform: scale(1.4);
        }
        100% {
            top: 0;
            left: -500%;
            transform: scale(1);
        }
    }
    #question-submit button:hover, .quiz-button:hover {
        transform: scale(1.03);
    }

    .select-answer {
        padding: 0.65rem 0.5rem 0.5rem 0.75rem;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        line-height: 0.875rem;
        letter-spacing: 0.5px;
        display: flex;
        user-select: none;
        left: 2px;
        user-select: none;
        box-sizing: border-box;
        min-width: auto;
    }

    .select-answer:hover {
        color: rgba(255,255,255,0.4);
    }

    .question-options {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 1rem);
    }
    .question-options .option {
        min-width: calc(50% - 1.25rem);
        margin: 4rem 1rem 0 0;
        position: relative;
    }
    .quiz a .number {
        display: none;
    }
    .quiz .text svg {
        height: 16px;
        position: relative;
        top: -1px;
        right: -4px;
    }
    @media screen and (min-width: 1000px) {
        #container #question .option {
            width: calc(50% - 1.25rem);
        }
    }
</style>
<script defer type="text/javascript">
// @connect
// d: connect to the websocket
// Quiz only Javascript
let socket;
let loginState = true;

const connect = function() {
    return new Promise((resolve, reject) => {
        const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
        const port = (window.location.protocol === 'https:' ? ':3000' : ':3000')
        const echoSocketUrl = socketProtocol + '//' + window.location.hostname + port + '/ws'
        
        // Define socket
        socket = new WebSocket(echoSocketUrl);
        socket.onopen = (e) => {
            resolve();
        }

        if(window.location.pathname.indexOf('/quiz/') > -1 && document.getElementById('quiz-js') == null) {
            var quiz = document.createElement('script');
            quiz.type = 'text/javascript';
            quiz.src = '/quiz.js';
            quiz.id = 'quiz-js'
        
            var head = document.getElementsByTagName('head')[0];
            head.appendChild(quiz);
            quiz.onload = function() {
                if(document.getElementById('submit-question') !== null) {
                    document.getElementById('submit-question').innerHTML = '<span id="submit-question-cover">Start Quiz!</span>'
                }
                if(quizPage !== undefined) {
                    quizPage.quizEvents(socket);
                }
            }
        }

        socket.onmessage = (data) => {
            try {
                if(typeof quizPage !== "undefined") {
                    quizPage.runQuiz(socket, JSON.parse(data.data));
                }
            } catch(e) {
                console.log(e);
            }
        }

        socket.onerror = (e) => {
            console.log(e);
        }
    });
}

let content = document.getElementById("container");

// Websocket
connect();

</script>