<config table="series" filter=":seriesName" filter-on="canonicalName" limit="1">
    <title>Fjolt - {{title}}</title>
    <description>{{shortDescription}}</description>
    <classes>series</classes>
    <url>[ "/course/:seriesName", "/series/:seriesName" ]</url>
    <cache>true</cache>
</config>
<template>
    <div id="series">
        <div id="series-content">
            <div id="top-section">
                <data table="series" filter=":seriesName" filter-on="canonicalName" limit="1" main="true">
                    <div id="guide-info">
                        <h1>{{title}}</h1>
                        <p>{{description}}</p>
                    </div>
                </data>
            </div>
            <div class="items">
                <data table="series" filter=":seriesName" filter-on="canonicalName">
                    <array name="items">
                        <h2 if>{{additionalSeriesData.subArea}}</h2>
                        <div class="item">
                            <a href="/article/{{canonicalName}}">
                                <span class="icon">{{icon}}</span>
                                <span class="title">{{titles[0].title}}</span>
                                <span class="text"><span class="inner-text">{{shortDescription}}</span></span>
                                <span class="complete"></span>
                            </a>
                            <Component name="seriesQuiz" />
                        </div>
                    </array>
                </data>
            </div>
        </div>
    </div>
</template>
<style combined>
    #carbonadcontainer {
        position: fixed;
        bottom: 1rem;
        min-width: 330px;
        max-width: 100%;
        right: 1rem;
    }
    #series .items h2 {
        margin: 2rem 0 1rem 0;
    }
    .series-progress p {
        margin: 0.5rem 0 0 0;
    }
    #series-progress:after {
        content: '';
        left: 66.6%;
        width: 1px;
        height: 100%;
        position: absolute;
        background: #4e535cb0;
    }
    #guide-info p {
        background: #151b24;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        line-height: 1.8;
    }
    #series-completion-amount {
        margin-right: 0;
        order: 3;
        font-weight: 800;
        font-size: 1rem;
        position: absolute;
        top: 3px;
        letter-spacing: 0.5px;
        right: 7px;
        opacity: 0.9;
        color: white;
        text-shadow: 0 1px 0 #00000038;
        z-index: 9999;
    }
    #series-progress:before {
        position: absolute;
        content: '';
        left: 33.3%;
        width: 1px;
        height: 100%;
        background: #4e535cb0;
    }

    #series-progress-amount {
        position: absolute;
        top: 0;
        z-index: 999;
        max-width: 100%;
        left: 0;
        height: calc(100% - 8px);
        background-image: linear-gradient(45deg,#6dfd56,#0262ff);
        min-width: 51px;
        border-radius: 100px;
        height: 100%;
    }
    #series-progress {
        width: 100%;
        background: #2b303b;
        margin-left: auto;
        border-radius: 100px;
        height: 1.75rem;
        position: relative;
        margin: 1rem 0 0;
    }
    #achievements h2 {
        margin: 0 1rem 0 0;
    }
    #series-meta, #achievements-info {
        position: relative;
        padding: 1rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        background: #151b24;
        margin: 0 0 2rem 0;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        border-radius: 14px;
    }
    #achievements-info {
        padding: 0;
        margin: 0;
    }
    #achievements h2 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 2rem;
        text-transform: initial;
    }
    #series-info-meta {
        display: none;
    }
    #achievements-info {
        width: 100%;
    }
    #medal-holder {
        display: flex;
        float: left;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 1rem;
    }
    #guide-info h1 {
        font-weight: 800;
    }
    #medal-holder .medal svg {
        fill: #2b303b;
        position: absolute;
        left: 0;
        width: 27px;
        left: 3px;
        top: 1px;
    }
    #medal-holder .medal {
        width: 32px;
        height: 44px;
        position: relative;
        margin: 0 0.75rem 1rem 0;
    }

    [data-medal="🎖"] svg,
    [data-medal="🥈"] svg,
    [data-medal="🥉"] svg {
        opacity: 0;
    }
    #achievements [data-medal="🎖"]:after,
    #achievements [data-medal="🥈"]:after,
    #achievements [data-medal="🥉"]:after {
        content: '🎖';
        position: absolute;
        top: -4px;
        left: -4px;
        font-size: 2.72rem;
    }
    #achievements [data-medal="🥈"]:after {
        content: '🥈';
    }
    #achievements [data-medal="🥉"]:after {
        content: '🥉';
    }
    #medal-holder .medal-achievement {
        position: relative;
        z-index: 99;
        opacity: 0;
        font-size: 2rem;
    }

    #medal-holder [data-medal="🎖"] .medal-achievement {
        opacity: 1;
        font-size: 2.5rem;
        top: -4px;
    }
    #achievements p {
        margin: 0rem 0 1rem 0;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    #achievements {
        float: left;
        width: 100%;
        box-sizing: border-box;
        align-self: flex-start;
        background: #151b24;
        border-radius: 14px;
        margin: 0 0 2rem 0;
        padding: 1rem;
    }
    #series-content {
        margin-left: 0;
    }
    #series h2 {
        margin: 0;
        font-size: 1.25rem;
    }

    #series .bar h2 {

    }
    #series-content a {    
        min-height: 80px;
        text-decoration: none;
        border-bottom: none;
        border-radius: 14px;
        margin: 0 0 1.5rem 0;
        box-shadow: 0 -3px #364151, 3px 0 #364151, -3px 0 #262f3b, 0 3px #262f3b;
        background: #151b24;
        border-radius: 0;
        padding: 1rem 0;
    }

    #series-content .item:last-of-type a {
        border-bottom: none !important;
    }


    #series-information #carbonadcontainer {
        width: 100%;
    }
    #series-information p {
        margin: 0.25rem 0 1rem 0;
        font-size: 1.125rem;
        line-height: 1.5;
    }
    #series {
        width: 100%;
        max-width: 1300px;
        margin: 2rem auto;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
    }
    .bar h2 {
        margin: 0;
        float: left;
        width: auto;
        border-radius: 100px;
    }

    #more-series h2 {
        margin: 0 0 1rem 0;
    }
    #more-series ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #more-series li {
        padding: 0.5rem 0;
        display: inline-flex;
        align-items: center;
        margin: 0 1rem 0 0;
    }
    #more-series a {
        text-decoration: none;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1rem;
        font-size: 0.9rem;
        border-radius: 0;
        background: #151b24;
        transition: all 80ms ease-out;
        border-radius: 14px;
        padding: 0 1rem 0 0;
        font-weight: 600;
    }
    #more-series span {
        margin: 0 0.5rem 0 0;
    }
    #advert h2 {
        margin-bottom: 1rem;
    }
    #more-series a:hover {
        background: white;
        color: black;
    }
    #more-series .icon {
        background: #fff;
        padding: 0;
        border-radius: 14px 0 0 14px;
        width: 32px;
        padding: 0.25rem;
        height: 32px;
        display: block;
        display: flex;
        color: #000000b5;
        align-items: center;
        justify-content: center;
    }

    #more-series .icon svg {
        width: 18px;
        padding: 0;
    }

    .item > a {
        width: calc(100% - 0px);
        position: relative;
        margin: 0;
        line-height: 1rem;
        min-height: 40px;
        padding: 0.25em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1rem 1rem 0;
        box-sizing: border-box;
        border-bottom: 1px solid #191e27;
    }
    .item:last-of-type a {
        border-bottom: none;
    }

    .item {
        display: flex;
        flex-direction: column;
    }
    .item .icon {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 2rem;
        z-index: 9999;
        box-sizing: border-box;
        line-height: 100%;
        color: #fff;
        padding: 1.5rem 0;
        background: 0 0;
        width: 4.5rem;
        display: block;
        text-align: center;
    }

    .item span {display: flex;align-items: center;}
    .item .title {
        position: relative;
        left: 5rem;
        width: calc(100% - 5rem);
        padding: 0 0 0.5rem 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1rem;
        color: #fff;
        float: left;
    }
    .item > a .text {    
        position: relative;
        width: calc(100% - 5rem);
        left: 5rem;
        padding: 0 0 1.25rem 0;
        padding-bottom: 0;
        font-weight: 500;
        color: #d8dbea6b;
        margin: 0.25rem 0 0 0;
        float: left;
        line-height: 1.25rem;
        font-size: 1.125rem;
    }
    .complete {
        display: none;
        position: absolute;
        color: white;
        font-size: 1rem;
        line-height: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        top: 0.75rem;
        right: 0.75rem;
        background: transparent;
        letter-spacing: 1px;
    }
    .item-complete.complete {
        display: block;
    }
    @media screen and (min-width: 1000px) {
        #series {
            flex-direction: row;
        }
        .item {
            flex-direction: row;
        }
        #series-information {
            width: calc(33.3% - 2rem);
        }
        #series-content {
            width: 66.6%;
            margin: 0px auto;
        }
        #series-info-meta {
            display: block;
        }
    }
</style>
<style async>
    #series-content a:hover {
        background: #202735;
    }
    #series-content .quiz a:hover {
        background: #eee;
    }
</style>
<script defer type="text/javascript">
if(document.querySelectorAll('.item .quiz').length > 0) {
    let current = 0;
    Object.keys({ ...localStorage }).forEach(function(i) {
        if(i.split('/quiz').length > 1) {
            let el = document.querySelector(`a[href="${i}"]`);
            if(el !== null) {
                el.setAttribute('data-quiz-complete', true);
                let score = parseFloat(localStorage[i]);
                let medal = '😱';
                let total = parseFloat(el.querySelector('.out-of').innerHTML);
                let theScore = Math.ceil(total * score);
                if(score >= 1) {
                    medal = '🎖'
                    ++current;
                } else if(score >= 0.7) {
                    medal = '🥈'
                    ++current;
                } else if(score >= 0.4) {
                    medal = '🥉';          
                    ++current;                          
                }
                el.setAttribute('data-medal', medal);
                el.querySelector('.number').innerHTML = theScore;
                el.querySelector('.medal-outcome').innerHTML = medal;
                el.querySelector('.medal svg').remove();
                el.querySelector('.progress .progress-percentage').style.width = `${score * 100}%`;
            }
        }
    })

    if(document.querySelectorAll('.item .quiz').length > 0) {
        let total = document.querySelectorAll('.item .quiz').length;
        document.querySelector('#achievements-info .total').innerHTML = total;
        document.querySelector('#achievements-info .current').innerHTML = current;
    }
    document.querySelectorAll('.item .quiz').forEach(function(item) {
        let medal = item.querySelector('.medal-outcome').innerHTML;
        let newEl = document.createElement('div');
        newEl.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="#292b42" width="28" height="44" viewBox="0 0 117 179">
            <circle class="cls-1" cx="58.5" cy="121.5" r="57.5"/>
            <path class="cls-2" d="M19-3.343L37,88.671S80.754,89.814,82,90,98-3,98-3"/>
        </svg>`;
        newEl.classList.add('medal');
        newEl.setAttribute('data-medal', medal)
        document.getElementById('medal-holder').appendChild(newEl);
    });
}
else {
    if(document.getElementById('achievements') !== null) {
        document.getElementById('achievements').remove();
    }
}
</script>