<url routes="[ '/tag/:tag' ]" />
<config>
    <description>All articles tagged with ":tag"</description>
    <title>Fjolt - ":tag" tag</title>
    <classes>archive</classes>
</config>
<template>
    <div id="container">
        <section id="content">
            <h1>All "#:tag" content</h1>
            <data table="article" limit="12" sort="-date" filter=":tag" filter-on="associatedWith.tags">
                {{component-firstPost}}
                {{component-triplePost}}
                {{component-doublePost*4}}
            </data>
        </section>
        <div id="pagination"><a href="#" class="next-page">View More Articles</a></div>
    </div>
</template>
<style class="combined">
    h1 {
        display: flex;
        align-items: center;
    }
    h1 .category.inline {
        margin: 0 1rem;
    }
</style>